:root{
    --navy: #180C51;
    --badass: #BADA55;
    --white: #ffffff;
    --black: #000000;
}


body,html{
    background-color: var(--white);
    margin: 0;
}

body{
    color: var(--navy);
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: inherit;
}

a{
    font-family: inherit;
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serif{
    font-family: "Baskervville", serif;
    font-weight: 500;
    letter-spacing: -.5px;
}

.sans{
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
}

.margin_bottom{
    margin-bottom: 4em;
}

section{
    width: 77%;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: var(--white);
    position: relative;
    left: 0;
    top: 0;
    height: 117px;
    width: 100%;
}

.header{
    justify-content: space-between;
}

.header_logo{
    width: 2.5vw;
    height: 2.5vw;
}

.header_logo img{
    filter: brightness(0.3);
}

.header_nav a{
    padding: 1.1em;
    font-size: 1.1vw;
    text-decoration: none;
    outline: none;
    color: var(--navy);
}

.header_nav a:hover{
    color: var(--badass);
}

.header_nav-active{
    color: var(--badass)!important;
}

.hero{
    height: 24.5vw;
}

.intro{
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3vw;
    width: 55%;
    padding-right: 5.5em;
    padding-bottom: 2.5em;
}

.works{
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}

.thumbnail{
    aspect-ratio: 1/1;
    position: relative;
}

.thumbnail_overlay{
    background-color: #eddfd8b3;
    color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s ease;
}

.thumbnail:hover .thumbnail_overlay{
    cursor: pointer;
    opacity: 1;
}

.thumbnail_overlay-text{
    font-size: 1.3vw;
    font-weight: 400;
}

.blackout{
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: 4em;
}

.blackout span{
    font-weight: 500;
}

.about_prompt{
    font-size: 1.6vw;
}

.button_primary {
    text-decoration: none;
    font-size: 1.1vw;
    padding: .4em 1.5em;
    border: 1.5px solid var(--badass);
    color: var(--badass);
    font-weight: 500;
    outline: none;
    transition: 0.4s ease;
}

.button_primary:hover{
    border-color: #4923f4;
    background-color: #4923f4;
    color: var(--white);
}

.button_inactive{
    border-color: lightgray;
    color: lightgray;
    cursor: default;
    pointer-events: none;
}

.page_end{
    margin-bottom: 8em;
}


/* SUBPAGES CSS */

.project_body{
    color: var(--black);
}

.project_hero{
    width: 65%;
    justify-content: space-between;
    align-items: start;
    margin-top: 2em;
    margin-bottom: 4em;
}

.project_hero-left{
    width: 55%;
}

.project_hero-right{
    padding-right: 4em;
}

.project_hero h1{
    font-size: 3.6vw;
    margin-bottom: .35em;
}

.project_hero h2{
    font-size: 1.65vw;
}

.stamp{
    margin-top: 2em;
}

.project_hero h5, .project_inforow-split h5{
    font-size: .75vw;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.project_hero p{
    font-size: 1.05vw;
    font-weight: 300;
    line-height: 1.4vw;
}

.project_cover{
    aspect-ratio: 16/9;
    margin-bottom: 5em;
}

.project_inforow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4em;
}

.project_inforow-left{
    flex: .3;
}

.project_inforow-right{
    flex: .61;
}

.project_inforow h3{
    font-size: 2.35vw;
    font-weight: 400;
}

.project_inforow p{
    font-size: 1.41vw;
    line-height: 1.8vw;
}

.project_inforow span{
    font-weight: 400;
}

.project_takeaways{
    font-weight: 400;
}

.project_takeaways li{
    line-height: 3.5vw;
}

.project_inforow-split div{
    flex: 1;
}